<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
                
    <title>GoodBoi Dashboard</title>
	<style>
    header { display: none !important }
	body {
  color: #0af3cc;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #0af3cc;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  background-color: #0996a5;
}

.card {
  border: none;
}

.card-title {
  color: #ffffff;
}

.card-body {
  color: #ffffff;
}

.badge {
  background-color: #0af3cc;
}

.btn-primary {
  background-color: #16b69b;
    border-color: #12e4c1;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0996a5;
  border-color: #0996a5;
}

.status-box.running{
color: #0af3cc;
}

.status-box.stopped{
color: #ffa69e;
}

.status-box-circular{
position:relative;
display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  margin-right: 6px;
}
.status-box-circular.running{
  background-color: #0af3cc;
}
.status-box-circular.stopped{
  background-color: #ffa69e;
}

.status-box-circular-in{
display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.status-box-circular-in.running{
  background-color: #0bc7a7;
}
.status-box-circular-in.stopped{
  background-color: #e98a81;
}
.list-group .badge{
color: #107262 !important;
}

table{
color:#dee2e6 !important;
}
th {
font-weight: 600 !important;
color: #dee2e6 !important;
background-color: #343a40 !important;
vertical-align: bottom;
border-bottom: 2px solid #dee2e6 !important;
border-top: 2px solid #dee2e6 !important;
padding: 15px 7px !important;
font-size: 0.85em !important;
}
li{
  color: #dee2e6 !important;
}
.padding-right-15{
  padding-right:15%;
}


	</style>
  </head>
  <body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">GoodBoi Dashboard</a>
    </nav>

    <div class="container mt-5">
      <div class="card-deck mt-5">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Block Parser</h5>
        <div class="row mt-4">
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>BSC</h6>
		    </div>
            <div class="col-6">
              <div id="bschain-block-parser-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>Ethereum</h6>
		    </div>
            <div class="col-6">
              <div id="eth-block-parser-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>Polygon</h6>
		    </div>
            <div class="col-6">
              <div id="poly-block-parser-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
        </div>
      </div>
    </div>
	
	<div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Source Getter</h5>
        <div class="row mt-4">
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>BSC</h6>
		    </div>
            <div class="col-6">
              <div id="bschain-source-getter-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>Ethereum</h6>
		    </div>
            <div class="col-6">
              <div id="eth-source-getter-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>Polygon</h6>
		    </div>
            <div class="col-6">
              <div id="poly-source-getter-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
        </div>
      </div>
    </div>
	
	<div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Balance Getter</h5>
        <div class="row mt-4">
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>BSC</h6>
		    </div>
            <div class="col-6">
              <div id="bschain-balance-getter-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>Ethereum</h6>
		    </div>
            <div class="col-6">
              <div id="eth-balance-getter-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-6">
              <h6>Polygon</h6>
		    </div>
            <div class="col-6">
              <div id="poly-balance-getter-status" class="status-box stopped"></div>
		    </div>
		  </div>
          </div>
        </div>
      </div>
    </div>
	
	<div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <div class="row mt-4">
          <div class="col-12">
		  <div class="row">
            <div class="col-9">
              <h6>MySQL Backup</h6>
		    </div>
            <div class="col-3">
              <div id="mysql-backup-status" class="status-box-circular stopped">
				<div id="mysql-backup-in-status" class="status-box-circular-in stopped"></div>
			  </div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-9">
              <h6>Contracts Pruner</h6>
		    </div>
            <div class="col-3">
              <div id="eth-balance-getter-status" class="status-box-circular stopped">
				<div id="eth-balance-getter-status" class="status-box-circular-in stopped"></div>
			  </div>
		    </div>
		  </div>
          </div>
          <div class="col-12">
		  <div class="row">
            <div class="col-9">
              <h6>Slither Runner</h6>
		    </div>
            <div class="col-3">
              <div id="poly-balance-getter-status" class="status-box-circular stopped">
				<div id="poly-balance-getter-status" class="status-box-circular-in stopped"></div>
			  </div>
		    </div>
		  </div>
          </div>
        </div>
      </div>
    </div>
		  </div>
			

      <div class="row mt-5">
        <div class="col-6">
          <canvas id="contracts-pie-chart"></canvas>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="bg-secondary list-group-item d-flex justify-content-between align-items-center">
              Parsed contracts
              <span class="badge badge-primary badge-pill" id="parsed-contracts">0</span>
            </li>
            <li class="bg-secondary list-group-item d-flex justify-content-between align-items-center">
              Parsed contracts last 24h
              <span class="badge badge-primary badge-pill" id="parsed-contracts-24h">0</span>
            </li>
            <li class="bg-secondary list-group-item d-flex justify-content-between align-items-center">
              Unique source files
              <span class="badge badge-primary badge-pill" id="unique-source-files">0</span>
            </li>
            <li class="bg-secondary list-group-item d-flex justify-content-between align-items-center">
              Compilation Errors
              <span class="badge badge-primary badge-pill" id="compilation-errors">0</span>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="mt-5">Findings</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th style="width:35%" scope="col">Detector name</th>
            <th style="width:20%" scope="col">Hits</th>
            <th style="width:25%" scope="col">Analyzed contracts</th>
            <th style="width:20%" scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="findings-table-body">
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>
	// Set up chart
const ctx = document.getElementById('contracts-pie-chart').getContext('2d');
const contractsPieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    datasets: [{
      data: [0, 0, 0],
      backgroundColor: [
        'rgba(10, 243, 204, 0.8)',
        'rgba(10, 243, 204, 0.6)',
        'rgba(10, 243, 204, 0.4)'
      ],
      borderColor: [
        'rgba(10, 243, 204, 1)',
        'rgba(10, 243, 204, 1)',
        'rgba(10, 243, 204, 1)'
      ]
    }],
    labels: ['Binance Smart Chain (k)', 'Ethereum (k)', 'Polygon (k)']
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
	legend: {
		position: 'bottom',
		labels: {
			padding: 30
		}
	}
	}
	
  }
);


// Set up findings table
const findingsTableBody = document.getElementById('findings-table-body');

// Update status
function updateStatus(chain, module, status) {
  status = status ? "Running" : "Stopped"
  document.getElementById(`${chain}-${module}-status`).textContent = status;
  document.getElementById(`${chain}-${module}-status`).className = `status-box ${status.toLowerCase()}`;
}
// Update mysql backup service status
let _class
function updateMysqlBackupStatus(active) {
  _class = active ? "running" : "stopped"
  document.getElementById('mysql-backup-status').classList = "status-box-circular " + _class;
  document.getElementById('mysql-backup-in-status').classList = "status-box-circular-in " + _class;
}

// Update parsed contracts (last 24h)
function updateParsedContracts24h(count) {
  document.getElementById('parsed-contracts-24h').textContent = count;
}

// Update parsed contracts 
function updateParsedContracts(count) {
  document.getElementById('parsed-contracts').textContent = count;
}

// Update pruned contracts
function updateCompilationErrors(count, perc, details) {
  document.getElementById('compilation-errors').textContent = count + " ("+perc+")";
  // TODO ADD DETAILS
}

// Update unique source files
function updateUniqueSourceFiles(count) {
  document.getElementById('unique-source-files').textContent = count;
}

// Update contracts pie chart
function updateContractsPieChart(data) {
  contractsPieChart.data.datasets[0].data = data;
  contractsPieChart.update();
}

// Add finding to table
function addFinding(detectorName, hits, analyzedContracts) {
  const tr = document.createElement('tr');

  const tdDetectorName = document.createElement('td');
  tdDetectorName.textContent = detectorName;
  tr.appendChild(tdDetectorName);

  const tdHits = document.createElement('td');
  tdHits.textContent = hits;
  tr.appendChild(tdHits);

  const tdAnalyzedContracts = document.createElement('td');
  let anSpl = analyzedContracts.split(" - ")
  const leftdiv = document.createElement('div');
  leftdiv.classList.add('d-inline-block');
  leftdiv.textContent = anSpl[0];
  tdAnalyzedContracts.appendChild(leftdiv)
  const rightdiv = document.createElement('div');
  rightdiv.classList.add('d-inline-block', "float-right", "padding-right-15");
  rightdiv.textContent = anSpl[1];
  tdAnalyzedContracts.appendChild(rightdiv)
  tr.appendChild(tdAnalyzedContracts);

  const tdAction = document.createElement('td');
  const button = document.createElement('button');
  button.classList.add('btn', 'btn-primary');
  button.textContent = 'Inspect Hits';
  tdAction.appendChild(button);
  tr.appendChild(tdAction);

  findingsTableBody.appendChild(tr);
}

// Clear findings table
function clearFindingsTable() {
  while (findingsTableBody.firstChild) {
    findingsTableBody.removeChild(findingsTableBody.firstChild);
  }
}

// Example data for testing purposes
const data = JSON.parse('<%= UIdata %>'.replaceAll("&#34;", '"')) 

// Update UI with example data
updateStatus('bschain', 'block-parser', data.modulesStatus.blockParser_bsc_mainnet);
updateStatus('bschain', 'source-getter', data.modulesStatus.sourceGetter_bsc_mainnet);
updateStatus('bschain', 'balance-getter', data.modulesStatus.balanceGetter_bsc_mainnet);
updateStatus('eth', 'block-parser', data.modulesStatus.blockParser_eth_mainnet);
updateStatus('eth', 'source-getter', data.modulesStatus.sourceGetter_eth_mainnet);
updateStatus('eth', 'balance-getter', data.modulesStatus.balanceGetter_eth_mainnet);
updateStatus('poly', 'block-parser', data.modulesStatus.blockParser_polygon);
updateStatus('poly', 'source-getter', data.modulesStatus.sourceGetter_polygon);
updateStatus('poly', 'balance-getter', data.modulesStatus.balanceGetter_polygon);
updateMysqlBackupStatus(data.modulesStatus.mysqlBackup);
updateParsedContracts(addDotsToNumber(data.contractInfo.parsedTot));
updateParsedContracts24h(addDotsToNumber(data.contractInfo.parsedLast24h));
updateUniqueSourceFiles(addDotsToNumber(data.contractInfo.uniqueSourcefiles));
updateContractsPieChart(data.contractInfo.parsedPerChain.map(e => Math.floor(e / 1000)));
updateCompilationErrors(addDotsToNumber(data.contractInfo.compilationErrorsTotal), data.contractInfo.compilationErrorsPerc, data.contractInfo.compilationErrors,);
for(let finding of data.findings)
  addFinding(finding.name, finding.hits, finding.analyzed);

function addDotsToNumber(_num){
  let fixed = String(_num).split("").reverse().join("").replace(/(.{3})/g,"$1.").split("").reverse().join("")
  return fixed.charAt(0) == '.' ? fixed.substring(1) : fixed
}
	</script>
  </body>
</html>
